<!DOCTYPE html>
<html class="no-js" lang="en-us">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>{% if wp_title %}{{ wp_title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
  {{ function('wp_head') }}

  <link rel="stylesheet" href="{{ theme.link }}/dist/app.css?v={{ css_last_modified }}" type="text/css" media="all" />
</head>

<body class="{{ body_class }}{% if pagename %} page-name-{{ pagename }}{% endif %}">

  <a href="#content" class="skip-to-content" tabindex="0">Skip to content</a>

  {% include "includes/svgs.twig" %}

  <main id="content" tabindex="-1">
    {% block pageBody %}
    {% endblock %}
  </main>

  {% block footer %}
    {% include "components/footer.twig" %}
  {% endblock %}

  {{ function('wp_footer') }}

</body>
