<!DOCTYPE html>
<html class="no-js" lang="en-us">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>{% if wp_title %}{{ wp_title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
  {{ function( 'wp_head' ) }}

  <link rel="stylesheet" id="newshour-theme-css" href="{{ theme.link }}/dist/app.css?v={{ css_last_modified }}" type="text/css" media="all" />
</head>

<body class="{{ body_class }}{% if pagename %} page-name-{{ pagename }}{% endif %}">

  {% block pageBody %}
  {% endblock %}

  {{ function( 'wp_footer' ) }}

</body>
